body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: 
    "siderbar header header"
    "siderbar main main" 
    "footer footer footer"
    ;
}



.titulo{
    color: skyblue;
    font-style: italic;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.subTitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-top: 0;
    margin-bottom: 10px;
}

.foto{
    height: 150px;
    width: 150px;
    border-radius: 20px 90px 20px 90px ;
}

.presentacion{
    background-color: aliceblue;
    align-content: center;
    text-align: center;

}

.proyectos{
    background-color: azure;
    padding: 12px;
}

.imgProyectos{
    width: 450px;
    height: 450px;
    margin: 0;
}

.contacto{
    background-color: antiquewhite;
    font-style: italic;
    padding: 12px;
}

.footer{
    background-color: rgb(199, 113, 15);
    font-weight: bold;
    padding: 12px;
    grid-area: footer;
}